:root {
    --color-primary: #E3DFFF;
    --color-primary-accent: #D3C0CD;
    --color-secondary: #B19994;
    --color-secondary-accent: #937666;
    --color-accent: #3D3A4B;
}

header{
    background-color: var(--color-accent);
    position: sticky;
    justify-content: center;
}

h1{
    text-align: center;
}

/* Task Bar */
.taskbar{
   background-color: var(--color-secondary);
}
