:root {
    --color-primary: #E3DFFF;
    --color-primary-accent: #D3C0CD;
    --color-secondary: #B19994;
    --color-secondary-accent: #937666;
    --color-accent: #3D3A4B;
}

body{
    background-image: url(https://img.itch.zone/aW1nLzU3MTcxNzIuanBlZw==/original/8yOxYy.jpeg);
}

header{
    background-color: var(--color-accent);
    color: var(--color-primary);
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    position: sticky;
    text-align: center;
}

#underline{
    text-decoration: underline;
}

h1{
    text-align: center;
    color: var(--color-accent);
}


/* Task Bar */
.toggle-button {
    font-size: 1.5rem;
    margin: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.navbar {
    background-color: var(--color-secondary-accent);
    color: white;
    padding: .5rem;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
}

.navbar ul li {
    margin: 0.5rem 0;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}
.nav_item {
    display: grid;
    border: 1px solid;
    border-radius: 5px;
    padding: 2.5px;
    border-color: white;
    font-size: 1.5rem;
}
.nav_item > a:hover {
    color: var(--color-accent);
    border-color: var(--color-accent);
}

.hidden {
    display: none;
}


/* Home Page */
.img-sizing{
    height: 400px;
    width: 400px;
}


/* Cards */
.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.card {
    background-color: var(--color-accent);
    border-radius: 15px;
    color: white;
    width: 30%;
    min-width: 150px;
    height: 650px;
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 24px;
}


/* Jokes Page */



/* Search Page */
.inpt{
    background-color: var(--color-primary);
    font-size: 20px;
}

.btn{
    font-size: 20px;
    border-color: var(--color-accent);
    border-radius: 5px;
}
