<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/styles.css')}}"
    />
    <script src="/static/js/js.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <header>Home Page</header>
    <div class="id navbars">
      <button id="toggleBtn" class="toggle-button">☰ Menu</button>
      <nav id="navbar" class="navbar hidden">
        <ul>
          <li class="nav_item"><a href="/">Home</a></li>
          <li class="nav_item"><a href="/jokes">Jokes</a></li>
          <li class="nav_item"><a href="/search">Search</a></li>
        </ul>
      </nav>
    </div>
    <div class="background">
      <h1>Get a Random Dad Joke!</h1>
      <h1 id="underline">↓ Joke Examples ↓</h1>
    </div>
    <div id="solid" class="cards">
      <div class="card">
        <img
          class="img-sizing"
          src="https://www.bing.com/th/id/OGC.14bb2b10edf64cc5206f35392cf2dde5?pid=1.7&rurl=https%3a%2f%2fmedia1.tenor.com%2fm%2fEibW8F4VJUkAAAAC%2fjoke-jk.gif&ehk=EpmZXt8QteIL3CwaOXoSPtx2i3uX%2fMCaEs%2bebVL60og%3d"
          alt="gif"
        />
        <h3>↓ Joke ↓</h3>
        <p>
          If you walk into a forest and cut down a tree, but the tree doesn't
          understand why you cut it down, do you think it's stumped?
        </p>
      </div>
      <div class="card">
        <img
          class="img-sizing"
          src="https://www.bing.com/th/id/OGC.47e0e15c9b04b5c9a7268b35d6e82472?pid=1.7&rurl=https%3a%2f%2fmedia.tenor.com%2fy-FpLIsK6gkAAAAC%2fcue-laugh-track-late-night-with-seth-meyers.gif&ehk=ypww6j0TJiZtkHSSynIL3w5iu%2bG4fm45ne1O9yTGk%2f4%3d"
          alt="gif"
        />
        <h3>↓ Joke ↓</h3>
        <p>
          What do computers and air conditioners have in common? They both
          become useless when you open windows.
        </p>
      </div>
      <div class="card">
        <img
          class="img-sizing"
          src="https://www.bing.com/th/id/OGC.2820d826f9c20ba41eea7b474a490ffe?pid=1.7&rurl=https%3a%2f%2fi.pinimg.com%2foriginals%2f8f%2fc2%2fda%2f8fc2dabbf34c128978061aad144b0d59.gif&ehk=dh4CvelEWyW80bz0nEIgeaWopIzDz8w3Xp9IQPn51I8%3d"
          alt="gif"
        />
        <h3>↓ Joke ↓</h3>
        <p>
          They say Dodger Stadium can hold up to fifty-six thousand people, but
          that is just a ballpark figure.
        </p>
      </div>
    </div>
  </body>
</html>
