<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/styles.css')}}"
    />
    <script src="/static/js/js.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <header>Jokes Page</header>
    <div class="id navbars">
      <button id="toggleBtn" class="toggle-button">☰ Menu</button>
      <nav id="navbar" class="navbar hidden">
        <ul>
          <li class="nav_item"><a href="/">Home</a></li>
          <li class="nav_item"><a href="/jokes">Jokes</a></li>
          <li class="nav_item"><a href="/search">Search</a></li>
        </ul>
      </nav>
    </div>
    <h1>Pick your mood bellow and get a joke!</h1>
    <div class="form-container center">
      <form action="/jokes" method="POST" class="joke-form">
        <div class="form-group">
          <label for="mood" class="form-label">Select your mood</label>
          <select name="mood" id="mood" class="form-select" required>
            {% for mood in moods %}
            <option value="{{mood}}">{{mood}}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="submit-btn" id="submit1">
          Give me a joke
        </button>
      </form>
    </div>

    {% if mood_message%}
    <p>{{mood_message}}</p>
    {% endif %} {% if joke%}
    <p>{{joke}}</p>
    {% endif %}
  </body>
</html>
