<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Search for your Joke!</h1>
    <div>
      <form action="./search" method="POST">
        <input type="text" name="search" />
        <button>Submit</button>
      </form>
    </div>

    {% if error%}
    <p>{{error}}</p>
    {%endif%} {% for joke in jokes%}
    <p>{{ joke.joke }}</p>
    {% endfor %}
    <p><a href="/">Go home</a></p>
  </body>
</html>
